examples/PWM.json
[
    {
        "id": "3c78464d6b1dcf7b",
        "type": "ppPWM",
        "z": "5732f930dfdfaa93",
        "config_plate": "f78466572d928687",
        "name": "",
        "channel": "0",
        "x": 310,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "49da533ee8f9b23a",
        "type": "inject",
        "z": "5732f930dfdfaa93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 1440,
        "wires": [
            [
                "3c78464d6b1dcf7b"
            ]
        ]
    },
    {
        "id": "273542fa5e98c738",
        "type": "inject",
        "z": "5732f930dfdfaa93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "3c78464d6b1dcf7b"
            ]
        ]
    },
    {
        "id": "1cacae41a7f690b3",
        "type": "inject",
        "z": "5732f930dfdfaa93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 110,
        "y": 1520,
        "wires": [
            [
                "3c78464d6b1dcf7b"
            ]
        ]
    },
    {
        "id": "7e6ffb16a2f02e17",
        "type": "inject",
        "z": "5732f930dfdfaa93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 110,
        "y": 1560,
        "wires": [
            [
                "3c78464d6b1dcf7b"
            ]
        ]
    },
    {
        "id": "f78466572d928687",
        "type": "pi_plate",
        "model": "DAQCplate",
        "address": "0"
    }
]