examples/RELAY.json
[
    {
        "id": "0d17a47c4992d1e4",
        "type": "ppRelay",
        "z": "5732f930dfdfaa93",
        "config_plate": "c8015730b6070de0",
        "name": "",
        "relay": "1",
        "x": 320,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "29b03a4f287ffada",
        "type": "inject",
        "z": "5732f930dfdfaa93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "0d17a47c4992d1e4"
            ]
        ]
    },
    {
        "id": "591af15aa52ad2fc",
        "type": "inject",
        "z": "5732f930dfdfaa93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "0d17a47c4992d1e4"
            ]
        ]
    },
    {
        "id": "15c05e6caf349d91",
        "type": "inject",
        "z": "5732f930dfdfaa93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "toggle",
        "payloadType": "str",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "0d17a47c4992d1e4"
            ]
        ]
    },
    {
        "id": "b054d7486c67620b",
        "type": "inject",
        "z": "5732f930dfdfaa93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "state",
        "payloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "0d17a47c4992d1e4"
            ]
        ]
    },
    {
        "id": "c8015730b6070de0",
        "type": "pi_plate",
        "model": "RELAYplate",
        "address": "1"
    }
]